.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.LogInCenter {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.NewAnimalCenter{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#LogInTable{
    margin: 0% 25% 0% 25%;
}
.navbardiv{
    position:absolute;
}
#NBTable{
    margin:auto;
}
#NewAnimalTable{
    background-color: gray;
}
