.outer {
    display: table;
    position: absolute;
    height: calc(100% - 190px);
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.LogInCenter {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.NewAnimalCenter{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#LogInTable{
    background-color: gray; 
}
.navbardiv{
    position:absolute;
}
#NBTable{
    margin:auto;
}
#NewAnimalTable{
    background-color: gray;
}
#NewAnimalTable th{
    background-color: black;
    color: white;
}
.ViewAnimalCenter{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#ViewAnimalTable{
    background-color:gray;
}
#ViewAnimalTable th{
    background-color: black;
    color: white;
}
.VetWorkCenter{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#VetWorkTable{
    background-color:gray;
}
#VetWorkTable th{
    background-color: black;
    color: white;
}
.NewPastureCenter{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#PastureTable{
    background-color:gray;
}
#PastureTable th{
    background-color: black;
    color: white;
}